/* .div-box{
    width: 40%;
    height: 200px;
    border:2px solid blue;
    border-color: black;
    border-radius: 5px;
    display:flex;
    margin: 10% 30%;
    background-color:aquamarine;
} */
.input-box{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    display:inline-flex;
    margin: 10% 35%;
    
}
.h2tag{
    /* margin-left: 40%; */
    /* position: absolute; */
    margin-left: 40%;
    
}
